<div class="find-banner-container"></div>
<div class="col-md-12 top-options-container">
    <div class="row">
        <div class="find">
            <div class="app-logo m-b-xxl">
                <span class="find-logo-large m-r-sm"></span>
            </div>
            <div class="input-view-container"></div>
        </div>
    </div>
    <div class="row tabbed-search-row"></div>
</div>
<div class="query-service-view-container service-view-container">
    <div class="search-tabs-container flex"></div>
</div>
<div class="document-detail-service-view-container service-view-container hide"></div>
<div class="suggest-service-view-container service-view-container hide"></div>
<div class="hp-logo-footer"></div>
<br/>
<br/>
<center><b><font size="+1"><a href="https://microfocusinternational.sharepoint.com/:b:/s/ProfessionalServices/Eaqep9kSZRFBom9fHvEKNGYBBcRgCTtOG6ZoJ-Re48rafA?e=PZp3KK" target="_blank" rel="noopener noreferrer">Download Knowledge Exchange User Guide</a></font><font size="+1">  |  Contact us : <a href = "mailto: ask.ke@microfocus.com">ask.ke@microfocus.com</a></b></font></center>
<br/>
<br/>
<center><b><font size="+1">Disclaimers:Confidential-Internal Use Only | © 2012 Micro Focus All the content and information in this system is subject to the <a href = "https://microfocusinternational.sharepoint.com/sites/Legal/Documents/Micro%20Focus%20Code%20of%20Conduct/Current/Code%20of%20Conduct%20-%2019%20May%202021.pdf?CT=1621872096416&%3BOR=ItemsView&isSPOFile=1" target="_blank" rel="noopener noreferrer">Micro Focus Code of Conduct</a></font><font size="+1">and Customer NDA's</font>